In [10]:
import pandas as pd

df_depDB = pd.read_csv('./../data/deptDB.csv')
df_sawonDB = pd.read_csv('./../data/sawonDB.csv')
df_gogekDB = pd.read_csv('./../data/gogekDB.csv')


df_depDB.columns = ['deptno', 'dname', 'loc']
df_sawonDB.columns = ['sabun', 'saname', 'deptno', 'sajob', 'sapay', 'sahire', 'sasex', 'samgr']
df_gogekDB.columns = ['gobun', 'goname', 'gotel', 'gojumin', 'godam']

df_depDB = df_depDB.replace("'", " ", regex=True)
df_sawonDB = df_sawonDB.replace("'", " ", regex=True)
df_gogekDB = df_gogekDB.replace("'", " ", regex=True)

In [13]:
lst88 = []
for idx in range(len(df_sawonDB)):
    lst88.append(df_sawonDB['sahire'].str.strip()[idx][0:4] == '1988')
    
df_sawonDB.loc[lst88]

    sabun  saname  deptno  sajob  sapay         sahire  sasex  samgr
0       2    한국남       20    부장    3000    1988/11/01     남자       1
8      19    임꺽정       20    사원    2200    1988/04/01     남자       7
13     10    공부해       30    사원    1303    1988/11/01     남자       4